@font-face {
  font-family: 'iconfont';  /* project id 2430299 */
  src: url('//at.alicdn.com/t/font_2430299_w40gnxafago.eot');
  src: url('//at.alicdn.com/t/font_2430299_w40gnxafago.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2430299_w40gnxafago.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2430299_w40gnxafago.woff') format('woff'),
  url('//at.alicdn.com/t/font_2430299_w40gnxafago.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2430299_w40gnxafago.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}